
.loginDialog {
    width: 400px;

   
    border: 1px solid black;
    border-radius: 10px;

   
    background: rgba(255, 255, 255, 0.5);

   
    padding: 10px 30px;
   

    text-align: center;


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.loginHeader {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding-bottom: 5px;
    color: #444444;
}

.loginDialog input {
    width: 100%;
    border: 1px solid #333;
    padding: 2px;
}

.loginAlert {
    
    background: rgba(255, 153, 102, 0.5);

   
    border: 1px solid #444444;
    border-radius: 5px;

    text-align: left;

    padding: 10px;
    margin-bottom: 10px;
}

.loginBackground {
    background-image: url(img/login-background-1.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
}
