html, body {
    margin: 0;
    height: 100%;
}

.form1 {
    border-color: cornflowerblue;
}

/* Tooltip container */
.datetooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.datetooltip .datetooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #0c9dc3;
    color: #fff;
    text-align: left;
    padding: 2px 3px;
    margin-left: -3px;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.datetooltip:hover .datetooltiptext {
    visibility: visible;
}

.buttonlink {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

